.form-field{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
    &_input{
    margin-left: 8px;
    border:none;
    border-bottom: 1px solid #807a7d;
    width: 100%;
    outline: none;
  }
  &_error{
    margin-left: 8px;
    border:none;
    border-bottom: 1px solid #e40f0f;
    width: 100%;
    outline: none;
  }
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  font-family: sans-serif;
  display: relative;
}
.errorPassword{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}