.form-wrapper {
  width: 400px;
  padding: 20px 40px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

h2 {
  text-align: left;
  width: 100%;
  color: rgb(153, 147, 147);
  font-weight: lighter;
  font-family: sans-serif;
}
h3 {
  text-align: left;
  width: 100%;
  color: rgb(34, 32, 32);
  font-weight: lighter;
  font-family: sans-serif;
}

.gender {
  font-family: sans-serif;
  color: rgb(117, 110, 110);
  font-size: 10px;
}

.terms {
  display: flex;
}

.terms_label {
  font-family: sans-serif;
  color: rgb(117, 110, 110);
  font-size: 9px;
  top: 4px;
  position: relative;
}
.twoFields_errors{
  display: flex;
  justify-content: space-between;
  position: relative;
  &_second{
    position: relative;
    right: 100px;
  }
}
.error{
  margin-left: 8px;
    border:none;
    border-bottom: 1px solid #f70606;
    width: 100%;
    outline: none;
}