.submitButton {
    position: relative;
    left: 315px;
    width: 70px;
    height: 25px;
    background-color: #6db1a8;
    color: rgb(255, 255, 255);
    border: 1px solid #fff;
    margin-top: 1em;
    font-size: 10px;
    margin-bottom: 0.25em;
    font-family: sans-serif;
    outline: none;
  }
  .submitButton:hover {
    color: #519e8a;
    background-color: #fff;
    border: 1px solid #519e8a;
  }