.dropdown {
    width: 100%;
    outline: none;
    border:none;
    border-bottom: 1px solid #807a7d;
    color: rgb(129, 125, 125);
    font-weight: lighter;
    font-family: sans-serif;
    margin-bottom: 15px;
    &_title {
        width: 100%;
        outline: none;
        border:none;
        color: rgb(129, 125, 125);
        font-size: 15px;
        font-weight: lighter;
        font-family: sans-serif;
        margin-bottom: 15px;
    }
}
